/* Global rules */
:root {
    --mainColor: #10cab7;
    --secondaryColor: #f6f6f6;
    --thirdColor: #2c4755;
    --mainFont: "Work Sans", sans-serif;
}
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    font-family: var(--mainFont);
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.heading {
  font-size: 160px;
  font-weight: 800;
  color: var(--secondaryColor);
  letter-spacing: -10px;
  text-align: center;
  margin: 0;
}
.heading + p {
  margin-top: -55px;
  text-align: center;
  font-size: 25px;
  color: #575757;
}
@media (max-width: 767px) {
  .heading {
    font-size: 80px;
  }
  .heading + p {
    margin-top: -20px;
    font-size: 14px;
    margin-top: -25px;
  }
}
@media (max-width: 991px) {
    .services .cube-image .cube-i {
      display: none;
    }
    /* .services .container .service-cont .servs-col .srv i {
      left: 60px;
      top: 0;
    } */
}
i {
  color: var(--mainColor);
}
/* Header */
header {
  padding: 20px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  width: 45px;
  height: 20px;
}
header .links {
  position: relative;
}
header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
header .links:hover ul {
  display: block;
}
header .links .icon {
  width: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
header .links .icon span {
  background-color: #24484f;
  margin-bottom: 5px;
  height: 1px;
}
header .links .icon span:first-child {
  margin-top: 5px;
  width: 100%;
}
header .links .icon span:nth-child(2) {
  width: 60%;
  transition: .3s;
}
header .links .icon span:last-child {
  width: 100%;
}
header .links ul {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  min-width: 200px;
  position: absolute;
  right: 0;
  top: calc(100% + 15px);
  z-index: 1;
}
header .links ul::before {
  content: "";
  border: 10px solid;
  border-color: transparent transparent #f2f2f2 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
header .links ul a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: var(--thirdColor);
  transition: .3s;
}
header .links ul li:not(:last-child) {
  border-bottom: 1px solid #d9d9d9;
}
header .links ul a:hover {
  transform: translateX(10px);
}


/* Main */
.landing {
  background-image: url(../images/main.jpg);
  background-size: cover;
  height: calc(100vh - 63px);
  display: flex;
  align-items: center;
}
.landing .container {
  height: 400px;
  width: 350px;
  max-width: 100%;
}
.landing .container h1 {
  margin: 0;
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  color: var(--mainColor);
  margin-bottom: 50px;
  line-height: 1.3;
}
.landing .container p {
  text-align: center;
  font-size: 20px;
  color: var(--thirdColor);
  line-height: 1.8;
}


/* Features */
.features {
  padding: 90px 0;
  background-color: var(--secondaryColor);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
.features .feat {
  padding: 30px 20px;
  text-align: center;
}
.features .feat i {
  margin-bottom: 35px;
}
.features .feat h3 {
  font-size: 20px;
  font-weight: 800;
  color: var(--thirdColor);
  line-height: 2;
}
.features .feat p {
  font-size: 15px;
  color: #575757;
  line-height: 2;
}
.features .container .special {
  box-shadow: 5px 5px 18px -9px var(--thirdColor);
}

/* Services */
.services {
  padding: 90px 0;
}
.services .container .service-cont {
  padding-top: 90px;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services .container .service-cont .servs-col .srv {
  padding-bottom: 20px;
  max-width: 300px;
  position: relative;
}
.services .container .service-cont .servs-col .srv i {
  position: absolute;
  left: -50px;
}
.services .container .service-cont .servs-col .srv .text p {
  font-size: 15px;
  color: #4d4c4c;
  line-height: 1.6;
}
.services .cube-image .cube-i {
  width: 300px;
  height: 300px;
  background-color: var(--secondaryColor);
  position: relative;
}
.services .cube-image .cube-i::after {
  content: "";
  width: 80px;
  height: 400px;
  background-color: var(--thirdColor);
  position: absolute;
  top: -50px;
  right: -38px;
  z-index: -1;
}